# CLion
cmake-build-*/
build/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/vcs.xml
.idea/**/modules.xml
.idea/watchdog-test.iml

# CMake
CMakeUserPresets.json

# Python
.venv
venv
__pycache__/

